.error {
    border: 1px solid red;
}

.input-error {
    color: darkred;
}
.error-message {
    margin: 0;
    color: #ec5990;
    font-size: 0.9em;
}

.show {
    display: block;
}

.hidden {
    display: none;
    visibility: hidden;
}

input {
    border-radius: 4px;
    border: 2px solid #ec5990;
    font-size: 16px;
    margin: 10px 0;
    padding: 6px 10px;
    width: 90%;
}

.box {
    background-color: darkslategrey;
    text-align: left;
    border: black ridge 1px;
    border-radius: 10px;
    margin: 3px;
    width: 20rem;
    padding: 0;
    cursor: pointer;
}

.box.booking, .box.booking p, .box.booking h2 {
    cursor: default;
}

.box p, .box h2 {
    padding: 0 0 0 10px;
    cursor: pointer;
}

#passengers, #departure, #return {
    max-width: 120px;
}

.biglabel {
    font-size: 1.5em;
    background-color: #44081e;
    padding: 1em;
}

.biglabel select {
    font-size: 1.1em;
}

.bigtext {
    font-size: 1.4em;
    padding: 0.3em;
    margin: 0.3em;
    line-height: 1.5em;
}

.capitalize {
    text-transform: uppercase;
}