img {
  width: 140px;
}

.page-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.inner {
  width: 800px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}

.column {
  width: 95%;
}

.small {
  font-size: 9px;
}

button {
  background-color: #ec5990;
  border: none;
  color: white;
  cursor: pointer;
  letter-spacing: .3rem;
  font-weight: bold;
  text-transform: uppercase;
  margin: 20px 0;
  padding: 16px 10px;
  border-radius: 4px;
}

button:hover {
  background-color: deeppink;
}

hr {
  margin: 3em 0;
  border: 1px solid #44081e;
  width: 100%;
}

@media only screen and (max-width: 800px) {
  .page-container {
    display: block;
  }
  .inner {
    display: block;
    width: 95%;
  }
  .biglabel {
    display: block;
  }
}