img {
  width: 140px;
}

.page-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.inner {
  width: 720px;
}

button {
  background-color: #ec5990;
  border: none;
  color: white;
  cursor: pointer;
  letter-spacing: .5rem;
  text-transform: uppercase;
  margin: 20px 0;
  padding: 16px 10px;
  border-radius: 4px;
}
